.navbar {
  background-color: rgb(2, 2, 78);
  height: 150px;
  position: sticky;
  top: 0;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.title {
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.link {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
